<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3">
		
		<separator label="TT-dev-VII"/>
		<menu id="pipe" label="Pipe Menu">
		<menu id="openbox-menu" label="Applications" execute="/usr/bin/openbox-menu lxde-applications.menu"/>
		<menu execute="~/.config/openbox/pipemenus/obpipemenu-places ~/" id="places" label="Places"/>
		<menu execute="~/.config/openbox/pipemenus/obrecent.sh ~/" id="recent" label="Recent Files"/>
		</menu>
		<item label="Run Program">
			<action name="Execute">
				<command>
					gmrun
				</command>
			</action>
		</item>
		<item label="Calculator">
			<action name="Execute">
				<command>
					galculator
				</command>
			</action>
		</item>
		<item label="Volume">
			<action name="Execute">
				<command>
					gnome-alsamixer
				</command>
			</action>
		</item>
		<separator/>
		<item label="Terminal">
			<action name="Execute">
				<command>
					terminator
				</command>
			</action>
		</item>
		<item label="Web Browser">
			<action name="Execute">
				<command>
					firefox
				</command>
			</action>
		</item>
		<item label="File Manager">
			<action name="Execute">
				<command>
					thunar
				</command>
			</action>
		</item>
		<item label="Text Editor">
			<action name="Execute">
				<command>
					geany
				</command>
			</action>
		</item>
		<item label="Media Player">
			<action name="Execute">
				<command>
					vlc
				</command>
			</action>
		</item>
		<item label="Thunar File Manager">
			<action name="Execute">
				<command>
					thunar
				</command>
			</action>
		</item>
		<item label="Thunar File Manager (root)">
			<action name="Execute">
				<command>
					gksu thunar
				</command>
			</action>
		</item>
		<separator/>
		<menu id="settings" label="Settings">
			<menu id="obConfig" label="Openbox">
				<item label="Edit menu.xml">
					<action name="Execute">
						<command>
							geany ~/.config/openbox/menu.xml
						</command>
					</action>
				</item>
				<item label="Edit rc.xml">
					<action name="Execute">
						<command>
							geany ~/.config/openbox/rc.xml
						</command>
					</action>
				</item>
				<item label="Edit autostart">
					<action name="Execute">
						<command>
							geany ~/.config/openbox/autostart
						</command>
					</action>
				</item>
				<separator/>
				<item label="GUI Menu Editor">
					<action name="Execute">
						<command>
							obmenu
						</command>
					</action>
				</item>
				<item label="GUI Applications Settings Editor">
					<action name="Execute">
						<command>
							obapps
						</command>
					</action>
				</item>
				<item label="GUI Config Tool">
					<action name="Execute">
						<command>
							obconf
						</command>
					</action>
				</item>
				<separator/>
				<item label="Reconfigure">
					<action name="Reconfigure"/>
				</item>
				<item label="Restart">
					<action name="Restart"/>
				</item>
			</menu>
			<menu id="terminatorconfig" label="Terminator">
				<item label="Edit config file">
					<action name="Execute">
						<command>
							geany ~/.config/terminator/config
						</command>
					</action>
				</item>
			</menu>
			<menu id="tint2config" label="tint2">
				<item label="Edit config file">
					<action name="Execute">
						<command>
							geany ~/.config/tint2/tint2rc
						</command>
					</action>
				</item>
				<item label="Restart tint2">
					<action name="Execute">
						<command>
							killall tint2 && tint2
						</command>
					</action>
				</item>
				<separator label="Help?"/>
				<item label="man page">
					<action name="Execute">
						<command>
							terminator -e "man tint && pause"
						</command>
					</action>
				</item>	
			</menu>
			<menu id="DisplaySettings" label="Display Settings">
				<item label="Screen Resolution">
					<action name="Execute">
						<command>
						    arandr
					    </command>
					</action>
				</item>
				<separator label="Help?"/>
				<item label="man xrandr">
					<action name="Execute">
						<command>
						    terminator -e "man xrandr && pause"
					    </command>
					</action>
				</item>
			</menu>
			<menu id="Notifications" label="Notifications">
				<item label="settings">
					<action name="Execute">
						<command>xfce4-notifyd-config</command>
					</action>
				</item>
			</menu>
			<item label="Wallpaper">
				<action name="Execute">
					<execute>
						nitrogen
					</execute>
				</action>
			</item>
			<item label="User Interface Settings">
				<action name="Execute">
					<command>
						lxappearance
					</command>
				</action>
			</item>
		</menu>
		<menu id="system" label="System">
			<item label="GParted">
				<action name="Execute">
					<command>
						gksu gparted
					</command>
				</action>
			</item>
		</menu>
		<!--<menu id="help" label="Help" execute="cb-help-pipemenu" />-->
	<separator/>
	<item label="Task Monitor">
		<action name="Execute">
			<command>
				mate-system-monitor
			</command>
		</action>
	</item>
	<item label="Lock"> <action name="Execute"> <execute>i3lock-wrapper</execute> </action> </item>
	<item label="Exit"> <action name="Execute"> <execute>gksu pkill X</execute> </action> </item>
	</menu>
</menu>
</openbox_menu>
